// $tab-border-color: #9b9b9b;
$tab-border-color: #acacac;

#tabs {
  @include children-inline;
  // @include gradient(#c4c2c4, #bfbdbf);
  // @include gradient(#c3c1c3, #bebdbe);
  background-color: #e7e6e5;
  overflow: hidden;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15);

  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: $tab-border-color;
  }

  .tab {
    //@include gradient(#c3c1c3, #bebdbe);
    background-color: #e7e6e5;
    background-color: transparent;
    color: #5c5b5b;
    margin: {
      right: 0px;
      bottom: 0px;
    };
    line-height: 20px;
    height: 22px;
    font: {
      size: 12px;
    };
    padding: 1px 27px 1px 22px;
    min-width: auto;
    max-width: 200px;
    text-align: center;
    border-bottom: none;
    position: relative;
    border-right: 1px solid #d5d4d3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15);

    .tab-color-dot {
      position: absolute;
      left: 8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #ccc;
    }

    .tab-text {
      display: inline-block;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tab-shortcut {
      position: absolute;
      top: 3px;
      right: 5px;
      font-size: 10px;
      color: #9b9b9b;
      opacity: 0.7;
      pointer-events: none;
    }

    .close {
      position: absolute;
      top: 3px;
      left: 5px;
      text-decoration: none;
      vertical-align: top;

      text-align: center;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      display: none;
      background: transparent;

      &:before, &:after {
        content: '';
        position: absolute;
        background: #646364;
        left: 4px;
        right: 4px;
        height: 1px;
        top: 8px;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }

      &:hover {
        // @include gradient(#a7a5a7, #a3a2a3);
        background-color: #c2c1c1
      }
    }

    &, > * {
      @include system-text;
    }

    &:hover {
      // @include gradient(#b8b7b8, #b4b2b4);
      background-color: #dbdada;
      .close {
        display: inline-block;
      }
      .tab-shortcut {
        display: none;
      }
      .tab-color-dot {
        display: none;
      }
    }

    &.active {
      // @include gradient(#dcdadc, #d6d4d6);
      color: #4A4A4A;
      background-color: #F4F3F2;
      position: relative;

      border-color: #d6d5d5;
      // box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.5), 0px 2px 3px rgba(0, 0, 0, 0.2);
      box-shadow: none;

      &:hover .close {
        &:hover {
          // @include gradient(#cac8ca, #c5c4c5);
          background-color: #dcdbdb;
        }
        &:before, &:after {
          background: #797879;
        }
      }
    }
  }

  .inspector {
    float: right;
    margin-left: 5px;
  }
}

.tab-loader {
  padding: 20px;
  color: #666;
}

.tab-message {
  padding: 11px;
  color: #333;
  position: absolute;
}
.window-content.content .tab-message {
  padding: 20px;
}
